<!DOCTYPE html>
<html>
<head>
    <title>Rick and Morty Episodes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-md-6">
            <h1 class="text-center">Rick and Morty Episodes</h1>
            <ul class="list-group">
                {% for episode in episodes %}
                    <li class="list-group-item">
                        <a href="/episode/{{ episode.id }}">
                            {{ episode.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>